.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.project__title {
  padding-bottom: 100px;
  font-size: 2em; /* Adjust the font size as desired */
  color: #0804f3; /* Adjust the color to your preferred color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for a cool effect */
}

.project-link {
  text-decoration: none;
}
.project-link:visited {
  color: #000;
  /* Change the color to your desired color for visited links */
}
.project-thumbnails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.project-thumbnail {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
}
