#portfolio {
  margin-top: 50px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  display: flex;
  font-size: 5rem;
  justify-content: center;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 630px) and (max-width: 1280px) {
  .welcome {
    font-size: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .welcome {
    font-size: 30px;
  }
}
