#main {
  padding: 60px 0;
  text-align: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content {
  max-width: 600px;
  margin-right: 40px;
  text-align: left;
}

.intro-heading {
  font-size: 3em;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.2em;
}
.about__image {
  width: 400px;
  height: 400px;
  top: 80px;
  left: 104px;
  border-radius: 250px;
  margin-top: 45px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  transition: transform 1s;
}
.about__image:hover {
  cursor: pointer;
}
.spinning {
  animation: spin 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .about__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .about__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
