.header {
  display: flex;
  justify-content: flex-end;
  margin-left: 104px;
  margin-right: 104px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Cabinet Grotesk", sans-serif;
}
.header__home-button {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.header__home-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.header__links {
  display: flex;
  gap: 40px;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: calc(100% - 50px);
    margin: 0;
    margin-left: 10px;
  }
  .header__logo {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
  }
  .header__home-button {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
  }
  .header__button {
    font-size: 12px;
    line-height: 12px;
  }
}
